---
layout: default
title: Home
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    last_updated: 2016-03-27T01:21:00+02:00
---

{% include mc.html %}

<h1 >Posts</h1>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h3 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        ♦ {{ post.title }} 
      </a>
    </h3>
    {% if post.last_updated %}
      <time class="right post-metadata">
        <ul style="list-style: none;">
          <li>
            {{ post.date | date_to_long_string }} 
          </li>
          <li>
            -{{ post.last_updated | date_to_long_string }}
          </li>
        </ul>
      </time>
    {% else %}
      <time class="right post-metadata">{{ post.date | date_to_long_string }}</time>
    {% endif %}
    {% if post.summary %}
      {{ post.summary }}
    {% endif %}
  </article>
  {% endfor %}
</div>