<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <div class="left column-third">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="home"><small>{{ site.title }} </small></a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
        <div class="column-center">
          <h3 class="masthead-title" id="content">
            <a href="{{ site.baseurl }}/" title="posts">posts</a>
            <small>♦</small>
            <a href="{{ site.baseurl }}/about" title="what this blog is about">about</a>
            <small>♦</small>
            <a href="{{ site.baseurl }}/me" title="who am I">me</a>
          </h3>
        </div>
        <div class="right column-third">
            <h3 class="masthead-title">
              <div class="right">
                <a href="{{ site.baseurl }}/atom.xml" title="atom feed"><img src="{{ site.baseurl }}/public/rss_16.png"></a>
              </div>
              <div class="right">
                <a href="https://twitter.com/azatris" title="twitter"><img src="{{ site.baseurl }}/public/twitter_16.png"></a>
              </div>
              <div class="right">
                <a href="https://www.facebook.com/azatris" title="facebook"><img src="{{ site.baseurl }}/public/facebook_16.png"></a>
              </div>
            </h3>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

  </body>

  {% include ga.html %}
  
</html>